<%- include('templates/head.ejs') %>
<%- include('templates/navigation.ejs') %>

<main class="container">
  <%- include('templates/card-form.ejs') %>
</main>

<%- include('templates/foot.ejs') %>

<script src="/js/field-add.js"></script>

</body>
</html>