<%- include('templates/head.ejs') %>
<%- include('templates/navigation.ejs') %>

<main class="container">
  <h1>Create Recipe</h1>
  <%- include('templates/card-form.ejs') %>
</main>

<%- include('templates/foot.ejs') %>