<%- include('templates/head.ejs') %>
<%- include('templates/navigation.ejs') %>

<main class="container">
  
  <% if (dishes.length > 0) { %>
    <% dishes.forEach(dish => { %>
      <%- include('templates/card.ejs', { dish: dish }) %>
    <% }) %>
  <% } else { %>
    <h1>No recipes found</h1>
  <% } %>

</main>


<%- include('templates/foot.ejs') %>
<script src="/js/get-ingredients.js"></script>

</body>
</html>