<%- include('templates/head.ejs') %>
<%- include('templates/navigation.ejs') %>

  <main>
    <h1 style="color:red;text-align:center;">Page Not Found!</h1>
  </main>

<%- include('templates/foot.ejs') %>

</body>
</html>