$primary-color: #00264f;
$container-width: 960px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-menu {
  background-color: $primary-color;
  padding: 18px;
  color: white;
  display: flex;
  justify-content: center;

  nav {
    width: $container-width;
    display: flex;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          text-decoration: none;
          color: white;
          padding: 5px 10px;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }

  .active {
    color: yellow;
  }
}

.container {
  width: $container-width;
  display: flex;
  justify-content: center;

  flex: 1;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  flex-wrap: wrap;

  .card-wrapper {
    width: 225px;
    height: 375px;
    perspective: 800px;
    margin: 20px;

    &:hover > .card {
      cursor: pointer;
      transform: rotateY(180deg);
    }

    .card {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 1500ms;
      transform-style: preserve-3d;

      .front, .back {
        width: 100%;
        
        border-radius: 2rem;
        box-shadow: 0 0 5px 2px $primary-color;
        position: absolute;
        backface-visibility: hidden;
      }

      .front {
        background-size: 225px 300px;
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 100%;

        h2 {
          margin: 15px 0px;
          font-size: 28px;
          text-align: center;
        }

      }

      .back {
        transform: rotateY(180deg);
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: stretch;
        justify-content: space-between;

        p {
          font-size: 16px;
          line-height: 1.3;
          padding: 0px 10px;

        }

        ul {
          padding: 0 15px; // Remove default padding from the ul
          margin: 10px 0; // Add some spacing between the paragraphs and the list
        }

        .btn {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          margin-top: 10px ;
          background-color: $primary-color;
          color: #fff;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: darken($primary-color, 10%);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 38, 79, 0.3);
          }
        }


      }

    }
  }

}

.card-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  

  ul {
    list-style: none;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    resize: vertical;
  }

  button {
    background-color: #00264f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;

    &:hover {
      background-color: #001d3b;
    }
  }
}

.footer {
  background-color: darken($primary-color, 10%);
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  a {
    color: #fff;
  }
}
