$primary-color: #00264f;
$container-width: 960px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-menu {
  background-color: $primary-color;
  padding: 18px;
  color: white;
  display: flex;
  justify-content: center;

  nav {
    width: $container-width;
    display: flex;
    
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          text-decoration: none;
          color: white;
          padding: 5px 10px;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }
      }
    }
  }

  .active {
    color: yellow;
  }
}

.container {
  width: $container-width;
  flex: 1;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;

  .dish-image {
    width: 250px;
  }
  
}

.card-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    resize: vertical;
  }

  button {
    background-color: #00264f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #001d3b;
    }
  }
}


.footer {
  background-color: darken($primary-color, 10%);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;

  a {
    color: #fff;
  }
}
