<div class="card-wrapper">
  <div class="card">
    <div class="front" style="background-image: url('<%= dish.imageUrl %>')";>
      <h2><%= dish.dishName %></h2>
    </div>
    <div class="back">
      <h4>Description:</h4>
      <p><%= dish.description %></p>
      <h4>Ingredients:</h4>
        
      <h4>Cooking Time: <%= dish.cookingTime %> minutes</h4>
      <button class="btn">Save Recipe</button>
    </div>
  </div>
</div>
