<form action="/create-recipe" method="POST" class="card-form">
  <label for="dishName">Dish Name:</label>
  <input type="text" name="dishName">
  <label for="description">Description:</label>
  <textarea name="description" rows="3"></textarea>
  <label for="ingredients">Ingredient:</label>
  <input type="text" name="ingredients" required>
  <ul id="ingredients-list">
  </ul>
  <button type="button" id="add-ingredient-btn">Add Ingredient</button>
  <label for="imageUrl">Image Url:</label>
  <input type="text" name="imageUrl">
  <label for="cookingTime">Cooking Time (minutes):</label>
  <input type="number" name="cookingTime">

  <button type="submit">Create Recipe</button>
</form>