<header>
  <nav>
    <ul >
      <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li>
        <a class="<%= path === '/create-recipe' ? 'active' : '' %>" href="/create-recipe">Create Recipe</a>
      </li>
      <li>
        <a class="<%= path === '/saved-recipes' ? 'active' : '' %>" href="/saved-recipes">Saved Recipes</a>
      </li>
      <li>
        <a class="<%= path === '/auth' ? 'active' : '' %>" href="/auth">Login/Register</a>
      </li>

    </ul>
  </nav>
</header>
